@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');

.theme-black {
  --BG-Color: black;
  --Text-Color: white;
  --Flags-BG-Color: white;
  --Flags-Text-Color: black;
}

.theme-white {
  --BG-Color: white;
  --Text-Color: black;
  --Flags-BG-Color: black;
  --Flags-Text-Color: white;
}


body {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
  background-color: var(--BG-Color);
  color: var(--Text-Color);
}

.skill--flags {
  background-color: var(--Flags-BG-Color);
  color: var(--Flags-Text-Color);
  margin-right: 5px;
  padding: 7px;
  word-break:break-word;
  line-height: 50px;
}

nav {
  height: 50px;
  font-weight: 700;
  position: fixed;
  top: 0;
  background-color: var(--BG-Color);
}

.nav--section {
  margin: auto;
  width: 80%;
  display: flex;
  align-items: center;
}

h4 {
  margin: 0px;
}

hr {
  border: 1px dotted rgba(71, 71, 71, 0.192)
}

ul {
  margin-left: auto;
}

li {
  list-style: none;
  display: inline;
  margin-left: 20px;
}

li:hover {
  color: rgb(22, 175, 180);
}

.align-moon {
  display: flex;
  align-items: center;
}

a {
  text-decoration: none;
  color: var(--Text-Color);
}

a:link, a:visited {
  color: var(--Text-Color);
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.main--container {
  width: 80%;
  margin: auto;
  margin-top: 50px;
}

section {
  min-height: 100vh;
  height: auto;
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.portfolio--section {
  align-content: center;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.aboutme--section {
  align-content: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.swiper {
  width: 600px;
  height: 700px;
}

.Portolio--section {
  width:100%;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.myswiper {
  height:600px;
}

.swiperslide img {
  width:100%;
  height:100%;
  object-fit: contain;
}


.Skills--Expertise {
  display: grid;
  gap: 20px;
  width: 100%;
  grid-template-columns: 1fr 1fr;
  justify-items: center
}



h3 {
  text-align: center;
  font-size: 1.5rem;
}

.div--about{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.button--cv {
  margin-top: 20px;
  display: flex;
  align-items: center;
  font-size: 1.3rem;
  background-color: rgb(13,202,240);
  border: none;
  height: 50px;
  border-radius: 15px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.329);
}

footer {
  background-color: rgb(13,202,240);
  height: auto;
  min-height: 100px;
  border-top-right-radius: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

footer ul {
  margin-right: 100px;
  font-size: 35px;
}


.intro--section img {
  height: 500px;
}

.intro--text {
  align-self: center;
}

h1, h2 {
  margin: 0;
}

p {
  margin-top: 20px;
  font-size: 1.2rem;
  text-align: justify;
}

.intro--text h1 {
  font-size: 2.5rem;
}

.contactme--button {
  margin: 25px;
  margin-left: 0px;
  font-size: 1.5rem;
  background-color: rgb(13,202,240);
  height: 55px;
  width: 150px;
  border: none;
  border-top-left-radius: 25px;
  border-bottom-right-radius: 25px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.329);
}





@media screen and (max-width: 900px) {
  .intro--section {
    flex-direction: column-reverse;
    justify-content: center;
  }

  .main--container {
    width: 95%;
  }

  .intro--section img {
    height: 100vw;
    max-height: 500px;
  }

  .Skills--Expertise {
    grid-template-columns: 1fr;
  }

  .swiper {
    height: auto;
  }

  .myswiper {
    height: auto;
  }

}

@media screen and (max-width: 650px) {
  .myswiper {
    height: auto;
    width: 100%;
  }
}